<div class="container col-md-8 col-md-push-2 vertical-center">
    <div class="login-box col-md-12">
        <div class="row">
            <div class="col-md-12 text-center" data-ng-if="user">
                <h4 class="white"> Welcome, {{user.username}}! (<a href="" data-ng-click="logout()">log out</a>)</h4>
            </div>
            <div class="col-md-12 text-center" data-ng-if="!user">
                <h4 class="white"> You are not logged in, <a href="" data-ng-click="goToLandingPage()"> go back</a>.
                </h4>
            </div>
        </div>

        <div class="container col-md-12" data-ng-if="user">
            <div class="row">
                <div class="text-center">

                    <div class="col-sm-3 col-sm-push-1" data-ng-if="!user.googleID">
                        <span class="btn btn-dark btn-lg btn-block">
                            <span class="white">Link with Google</span>  <br/>
                            <google-plus-signin clientid="{{googleClientID}}"></google-plus-signin>
                        </span>
                    </div>

                    <div class="col-sm-4 col-sm-push-1" data-ng-if="user.googleID">
                        <div class="white" style="padding-bottom: 10px;">Congratulations!</div>
                        <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> <span class="white">You have linked with Google</span>
                            </a>
                    </div>

                    <div class="col-sm-4 col-sm-push-4">
                        <span class="btn btn-dark btn-lg btn-block" data-ng-if="true">
                            <span class="white">Link with Facebook</span>  <br/>
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> <span class="white">Logi sisse Facebookiga</span>
                            </a>
                        </span>
                    </div>

                    <div class="col-sm-5 col-sm-push-3" >
                        <span class="white">Congratulations!</span>
                        <span class="btn btn-dark btn-lg btn-block">
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> <span class="white">You have linked with Facebook</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

